P1 : Given two DataFrames, perform an outer join to combine them.

In [9]:
import pandas as pd
import numpy as np


df1 = pd.DataFrame({
    "customer_id": [1, 2, 3, 4, 5, 6],
    "customer_name": ["Amit", "Neha", "Rahul", "Priya", "Sonal", "Karan"],
    "city": ["Indore", "Bhopal", "Delhi", "Mumbai", "Pune", "Jaipur"]
})

df2 = pd.DataFrame({
    "order_id": [101, 102, 103, 104, 105],
    "customer_id": [3, 4, 5, 7, 8],
    "order_amount": [250, 400, 150, 300, 500]
})

df3 = df1.merge(df2, how='outer', on='customer_id')
print(df3)

   customer_id customer_name    city  order_id  order_amount
0            1          Amit  Indore       NaN           NaN
1            2          Neha  Bhopal       NaN           NaN
2            3         Rahul   Delhi     101.0         250.0
3            4         Priya  Mumbai     102.0         400.0
4            5         Sonal    Pune     103.0         150.0
5            6         Karan  Jaipur       NaN           NaN
6            7           NaN     NaN     104.0         300.0
7            8           NaN     NaN     105.0         500.0

P2 : Create a pivot table to summarize sales data by region and product category.

In [14]:
import pandas as pd

df = pd.DataFrame({
    "order_id": [101, 102, 103, 104, 105, 106, 107, 108],
    "region": ["North", "South", "North", "East", "West", "South", "East", "West"],
    "product_category": ["Electronics", "Furniture", "Furniture", "Electronics",
                         "Clothing", "Electronics", "Clothing", "Furniture"],
    "sales_amount": [50000, 30000, 20000, 45000, 15000, 40000, 18000, 22000]
})

df.pivot_table(index='region', columns='product_category', values='sales_amount')

product_category  Clothing  Electronics  Furniture      All
region
East               18000.0      45000.0        NaN  31500.0
North                  NaN      50000.0    20000.0  35000.0
South                  NaN      40000.0    30000.0  35000.0
West               15000.0          NaN    22000.0  18500.0
All                16500.0      45000.0    24000.0  30000.0

P3 : What is the difference between merge() and join() in Pandas?

In [ ]:
# merge() and join() both in pandas are used for joining Dataframes but merge() is used for column based joins and join() for index based joins in pandas.